# Путь к Excel-файлу с расходами
EXPENSES_FILE=./data/expenses.xlsx

# Путь к Excel-файлу с портфелем/доходами
PORTFOLIO_FILE=./data/portfolio.xlsx

# Годовая инфляция, % (например, 6.0 — это 6%)
INFLATION_PCT=6.0

# Текущий капитал портфеля
CURRENT_CAPITAL=0
